/* Secured by Fire Computer Repair
Home page CSS
HomePage.css*/

@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 1000;
  src: local('Tangerine Bold'), local('Tangerine-Bold'), url(https://fonts.gstatic.com/s/tangerine/v7/UkFsr-RwJB_d2l9fIWsx3ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

@font-face {
  font-family: 'Neuton';
  font-style: normal;
  font-weight: 400;
  src: local('Neuton Regular'), local('Neuton-Regular'), url(https://fonts.gstatic.com/s/neuton/v8/ZCHeepBpOu0e76AMO9CV8Q.woff2) format('woff2');
}

body {
	background-color: red;
}

h1 {
	text-align:center;
}

h2 {
	text-align: center;
}
#Logo {
	float: left;
}

#head {
	background-color: yellow;
	border: 3px black solid;
	float: right;
	width: 100%;
	clear: both;
	font-family: Tangerine;
}

#LeftColumn {
	font-family: Neuton;
	float: left;
	width: 10%;
	padding-left: 1%;
	margin-left: -1.1em;
	clear: left;
}

#CenterColumn {
	font-family: Neuton;
	background-color: black;
	color: white;
	float: left;
	width: 58%;
	padding-left: 1%;
}

#slideshow {
	font-family: Neuton;
	float: left;
	width: 30%;
	padding-left: 1%;
	position:relative;
    height:200px;
	width:356px;
	clear: right;
}

#Footer {
	font-family: Neuton;
	color: white;
	float: left;
	width: 100%;
	clear: both;
	text-align: center;
}

#map {
	height: 40em;
	width: 60%;
	float: right;
}

#Selector {
	float: left;
}

#end {
	display: none;
}

select {
	background-color: red;
	color: yellow;
}

/*for the links*/
#LeftColumn li {
	list-style-type: none;
	text-align: center;
}

#LeftColumn a {
	text-decoration: none;
	color: black;
	display: block;
	background-color: #EEEEFF;
	box-shadow: 5px 5px 5px gray;
	margin-bottom: 5px:
}

#LeftColumn a:hover {
	background-color: #DDDDEE;
	box-shadow: 3px 3px 3px gray;
	border: none;
}

/*Below is for the slidshow */
#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}

#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}

#slideshow IMG.last-active {
    z-index:9;
}